.App {
  text-align: center;
}
.container{
  margin: 10px 30px;
}
.title{
  font-size: 20px;
  font-weight: 500;
}
.editorContainer{
  border: 1px solid black;
  min-height: 80vh;
  max-height: 90vh;
  padding: 10px;
  cursor: text;
  border-radius: 20px;
}

.saveButton{
  font-size: 14px;
  float: right;
  padding:5px 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.successButton{
  font-size: 14px;
  float: right;
  padding:5px 20px;
  border-radius: 10px;
  color: black;
  background-color: greenyellow;
}